.features{
   padding:6rem 4rem 0 ;

  

}


@media (max-width:768px) {
  .features{
   position: absolute;
   top:40rem;
   left: 3rem;
   
   padding:0
  } 
}
@media (max-width:530px) {
  .features{
   
   top:22rem;
   left:2rem
  } 
}