
.info-text{
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap:1rem
}
.heading{
    font-weight: 800;
    font-size:3rem;
    width: 40rem;
}
.small-screen{
    display: none;
}
.text{
    color:#B2B2B2;
    font-size: 1.3rem;
    width: 40rem;
}

.button{
background-color: transparent;
outline: none;
border: none;
width: fit-content;
border-bottom: 1px solid black;
font-weight: 700;
font-size: 1.3rem;
}

@media (max-width:768px) {
 
   .visible{
    display: none;
   }
   .small-screen{
    display: block;
    color:white;
    width: 36rem;
   }
   .button {
color:white;
border-bottom: 1px solid white;
   }
 }