.main-container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap:3rem;


 
    
 
}
@media (max-width:768px) {
    .main-container{
   width: 100%!important;
   margin: 0;
   padding: 0 !important;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
  position: relative;
    }
 }